html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.04);
}

.custom-button {
  cursor: pointer;
}
#remember-me {
  display: block;
}

#login-button {
  min-width: 60%;
  min-height: 50px;
  display: inline-block;
  margin: 0 auto 2% auto;
  margin-left: 20%;
}
/* .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
  margin: auto;
  background-color: white;
} */
/* .signup-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100;
  margin: auto;
} */

.google-button {
  margin: 0 auto 3% auto;
  display: inline;
}
/* 
.signup-label {
  margin-top: 1%;
}
.signup-button {
  margin: 5% 0;
}

.signup-input {
}

.signup-label,
.signup-input,
.signup-button {
  display: block;
} */


/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: white;
} */

/* .home-container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 20px;
} */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}
.nav-link-button {
  width: 10%;
  height: 80%;
  margin: 0 5%;
  text-decoration: none;
}

.nav-link {
  line-height: 330%;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.message-card {
  position: relative;
  width: 90%;
  min-height: 10%;
  max-height: 50%;
  margin: 2% auto;
  padding-bottom: 2%;
  padding-left: 2%;
}

.message-title {
    margin: 1%;
}

.message-body {
    padding: 0 2%;
    margin: 0;
}

#post-button {
  margin: 4% 3%;
}

.comment-box {
    width: 80%;   
}

.channel-display {
  margin: 3% 0;
}

.post-button {
    margin-right: .5%;
    background-color: skyblue;
    color: white;
    border: 2px solid skyblue;
    cursor: pointer;
} 

.like-button {
    margin-right: 2%;
    cursor: pointer;
}

.channel-select-button {
    font-size: x-large;
    text-align: center;
    padding: 3%;
}

.channel-select-button {
  font-size: x-large;
  text-align: center;
  padding: 3%;
  background-color: red;
}

.profile-area {
  margin: 3% 0;
}
.profile-name {
    text-align: center;
    margin: 5%;
    font-size: 20pt;
}

.profile-image{
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
}

.profile-img {
  border-radius: 50%;
}

.profile-field-name {
    text-align: center;
    font-size: 16pt;
    margin: 3% 0;
    border-bottom: 1px solid grey;
}

.profile-field-value {
    text-align: center;
}

/* .message-input-box {
    position: fixed;
    bottom: 0;
    height: 12%;
    width: 39.8%;
} */